.hero-image {
    width: 100vw;
    height: 600px;
    background-image: url("../heroImage.jpg");
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
}

@media (max-width: 700px) {
    .hero-image {
        background-size: contain;
    height: 285px;
    background-position: center;
    }
}

@media (max-width: 320px) {
    .hero-image {
        height: 200px;
    }
  }