.home {
    background: #f0efef;
    opacity: 0.9;
    text-align: center;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.home p {
    font-weight: 600;
}

.home .play{
    color: #B282D1;
    font-size: 0.5em;
}

.home h3 {
    color: #000;
    font-weight: 800;
    font-size: 1.2em;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}



@media (min-width: 1024px) {
        .home .play{
        font-weight: 800;
        font-size: 1.8em;
        text-align: start;
    }
    
    .home h3 {
        font-size: 4em;
    }

    .home p {
        font-size: 1.8em;
    }
}


