.home {
    width: 100vw;
    padding: 0.3rem 0 3rem 0;
    background: #f0efef;
    opacity: 0.9;
    text-align: center;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.home p {
    font-weight: 600;
}

.home .play{
    color: #B282D1;
    font-size: 0.5em;
}

.home h3 {
    color: #000;
    font-weight: 800;
    font-size: 1.2em;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}



@media  (min-width:640px)  {
    .home {
        height: 25vh;
        /* bottom: 50px; */
        padding: 0.3rem 0 1.5rem 0;
    }

    .home .play{
        font-weight: 600;
        font-size: 0.8em;
    }
    
    .home h3 {
        font-size: 1.5em;
    }

    .home p {
        font-size: 0.8em;
    }
}

@media (min-width:768px) {
    .home {
        bottom: 270px;
    }
}


