.panel {
    text-align: center;
    padding: 2em 0.65em 2em 0.65em;
}

.panel-form input{
    width: 90%;
    padding: 12px;
    margin-bottom: 10px;
    border-color: #B1B1B1;
    border-radius: 5px;
    box-shadow: none;
}

.panel-btn {
    width: 98%;
    padding: 12px;
    border-radius: 5%;
    background-color: #7209B7;
    border-color: #7209B7;
    color: #fff;
    border-radius: 5px;
}

.panel p {
    font-size: 9px;
}

@media  (min-width:768px) {
    .panel-form input {
        width: 46%;
    }

    .panel-btn {
        width: 50%;
    }
}